html {
  background-color: #000000;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
}

h2 {
    color: #ffffff;
    font-size: 2rem;
}

h3, h4, h5, h6 {
  font-weight: bold;
  color: #ffffff;
}

p {
  color: #ffffff;
  font-size: 1.2rem;
}