main {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  height: 100%;
}

.presentationsSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

@media (max-width: 1024px) { /* Small Desktop */
  main {
    width: 70%;
  }
}

@media (max-width: 768px) { /* Tablet */
  main {
    width: 80%;
  }
}

@media (max-width: 480px) { /* Mobile */
  main {
    width: 90%;
  }
}